<div ng-controller="formController">

	<script type="text/ng-template" id="my-custom-messages">
		<div ng-message="required">This field is required</div>
		<div ng-message="minlength">This field is too short</div>
		<div ng-message="maxlength">This field is too long</div>
	</script>

	<form
		name="basicForm"
		novalidate
		ng-submit="basicForm.$valid && submit()">
	
		<input 
			type="text" 
			name="name" 
			placeholder="Name*"
			required
			ng-model="user.name"
			ng-minlength="3"
			ng-maxlength="15">

		<div 
			ng-messages="basicForm.name.$error"
			ng-messages-include="my-custom-messages"
			ng-if="basicForm.$submitted">
			<div ng-message="required">You did not enter your name</div>
		</div>
	
		<input 
			type="email"
			name="email"
			placeholder="E-Mail*"
			required
			ng-model="user.email">

		<div 
			ng-messages="basicForm.email.$error"
			ng-messages-include="my-custom-messages"
			ng-if="basicForm.$submitted">
			<div ng-message="required">You did not enter your email address</div>
			<div ng-message="email">Your email address is invalid</div>
		</div>
	
		<textarea name="" placeholder="Message"></textarea>
	
		<button type="submit" data-ng-click="">Continue</button>

		<br>
		<br>

		<small>
			* = required
		</small>

</div>